*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p , ul{
    margin: 0;
    padding: 0;
}
body{

}
header{
    background-image: url(../images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
}
.header_top{
    padding: 10px 0px;
}
.header_logo{
    color: #fff;
}
.main_nav{

}
.main_nav ul{

}
.main_nav ul li{
    margin-left: 20px;
}
.main_nav ul li a{
    color: #fff;
    position: relative;
    padding: 0 !important;
}
.main_nav ul li a:hover{
    color: #fff;
}
.main_nav ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    background-color: #008ed6;
    width: 0%;
    height: 2px;
    transition: .5s all ease-in-out;
}
.main_nav ul li a:hover::after{
    width: 48%;
}
.main_nav ul li a::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: -7px;
    background-color: #008ed6;
    width: 0%;
    height: 2px;
    transition: .5s all ease-in-out;
}
.main_nav ul li a:hover::before{
    width: 48%;
}
.header_bottom{
    align-items: center;
    position: relative;
    min-height: 90vh;
}
.header_bottom_text{

}
.header_bottom_text h5{
    font-size: 14px;
    text-transform: uppercase;
    padding: 18px 0px;
    color: #008ed6;
}
.header_bottom_text h1{
    padding-bottom: 20px;
}
.header_bottom_text p{
    padding-bottom: 50px;
    color: #999;
    font-size: 16px;
}
.btn_download{
    background-color: #008ed6;
    border: 1px dotted #0c618b;
    margin-left: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 24px;
}
.btn_download:hover{
    border: 1px dotted #0c618b;
    background: transparent;
}
.btn_vew_feature{
    border: 1px dotted #0c618b;
    background: transparent;
    margin-left: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 24px;
}
.btn_vew_feature:hover{
    background-color: #008ed6;
    border: 1px dotted #0c618b;
}
.header_bottom_image{
    position: absolute;
    bottom: 0;
    right: 0;
}
.header_bottom_image img{

}

.f_section{
    padding: 50px 0px;
    border-bottom: 1px solid #ededed;
}
.f_section_title{
    text-align: center;
    padding-bottom: 50px;
}
.f_section_title h5{
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 0px;
    color: #008ed6;
    letter-spacing: 1px;
}
.f_section_title h1{
    font-size: 32px;
    padding-bottom: 20px;
    font-weight: 700;
}
.f_section_top{
    
}
.f_section_title span{
    display: block;
    width: 50px;
    height: 2px;
    margin: auto;
    position: relative;
}
.f_section_title span::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #008ed6;
    transition: .5s all ease-in-out;
}
.f_section:hover ::after{
    width: 48%;
}
.f_section_title span::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    right: 0;
    bottom: 0;
    background-color: #008ed6;
    transition: .5s all ease-in-out;
}
.f_section:hover ::before{
    width: 48%;
}
.f_all{
    text-align: center;
}
.f_icon{
    width: 80px;
    height: 80px;
    border: 1px solid #999;
    border-radius: 50%;
    text-align: center;
    line-height: 85px;
    margin: auto;
}
.f_icon i{
    color: #008ed6;
    padding: 20px;
    font-size: 28px;
}
.f_all h2{
    padding: 20px 0px 5px 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #1a1a1a;
}
.f_all p{
    color: #999;
    font-size: 16px;
    padding: 10px 14px;
}
.d_section{

padding: 50px 0px;
}
.d_section_image{

}
.d_section_image img{

}
.d_section_text{
    padding-top: 50px;
}
.d_section_text h5{
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 0px;
    color: #008ed6;
    letter-spacing: 1px;
}
.d_section_text h1{
    font-size: 32px;
    padding-bottom: 20px;
    font-weight: 700;
}
.d_section_text span{
    display: block;
    width: 50px;
    height: 2px;
    position: relative;
}
.d_section_text span::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #008ed6;
    transition: .5s all ease-in-out;
}
.d_section:hover ::after{
    width: 48%;
}
.d_section_text span::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    right: 0;
    bottom: 0;
    background-color: #008ed6;
    transition: .5s all ease-in-out;
}
.d_section:hover ::before{
    width: 48%;
}
.d_section_text p{
    color: #999;
    font-size: 16px;
    padding: 10px 0px;
}
.d_section_text ul{

}
.d_section_text ul li{
    list-style: none;
    line-height: 35px;
}
.d_section_text ul li i{
    color: #008ed6;
    font-size: 16px;
    padding-right: 10px;
}
.d_section_text ul li a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
}
.c_section{
    background-color: #f1f1f1;
    padding: 50px 0px;
}
.c_section_text{
    padding-top: 50px;
}
.c_section_text h5{
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 0px;
    color: #008ed6;
    letter-spacing: 1px;
}
.c_section_text h1{
    font-size: 32px;
    padding-bottom: 20px;
    font-weight: 700;
}
.c_section_text span{
    display: block;
    width: 50px;
    height: 2px;
    position: relative;
}
.c_section_text span::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #008ed6;
    transition: .5s all ease-in-out;
}
.c_section:hover ::after{
    width: 48%;
}
.c_section_text span::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    right: 0;
    bottom: 0;
    background-color: #008ed6;
    transition: .5s all ease-in-out;
}
.c_section:hover ::before{
    width: 48%;
}

.c_section_text p{
    color: #999;
    font-size: 16px;
    padding: 10px 0px;
}
.c_section_image{

}
.c_section_image img{

}




footer{
    background-color: #15141a;
    padding: 30px 0px;
}
.footer_icon{
    color: #444348;
}
.footer_icon ul{
    display: flex;
    justify-content: center;
}
.footer_icon ul li{
    list-style: none;
}
.footer_icon ul li i{
    padding: 0px 20px;
}
.copyright{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}
.copyright h5{
    color: #444348;
    font-size: 16px;
}
.footer_icon ul li i:hover{
    color: #008ed6;
}